:root {
	--bitcoin-orange: #f7931a;
	--soft-orange: #ffe9d4;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black: #201e1c;
	--black: #282623;
	--grey: #bababa;
	--off-white: #faf8f7;
	--just-white: #ffffff;
	--dark-grey: #808080;
	--light-grey: #757575;
	--fs-40px: 4rem;
	--fs-20px: 2rem;
	--lh-42px: 4.2rem;
	--lh-24px: 2.4rem;
}
.header--title--container {
	max-width: 600px;
}
.header--title--container p {
	padding: 0 10%;
}
.header--title--container .header--button {
	font-size: 1.6rem;
	width: 250px;
	left: calc(50% - 125px);
}
.batata-logo {
	margin-top: -25px;
}
.main-exchange-logo {
	width: 5%;
	top: 48px;
}
.exchange--chart--container {
	width: 50%;
}
.specs-description-container {
	max-width: 900px;
}
.specs-description {
	flex-basis: 430px;
}
.plans-card-slider {
	justify-content: center;
}
.plans-deal-box {
	margin: 0 1% 0;
}
.plans-deal-box.left,
.plans-deal-box.right {
	opacity: initial;
}
.plans-deal-box.left a,
.plans-deal-box.right a {
	background-color: var(--off-white);
	color: var(--warm-black);
}
.faq-container h2 {
	max-width: 700px;
}
.question-container {
	width: 100%;
}
.question p {
	font-size: var(--fs-20px);
	line-height: var(--lh-24px);
	max-width: 400px;
}
